@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
/*Slide Animation for about me div*/
.slide-right {
  
  overflow: hidden;
  max-width: 500px;
  float: left;
}

.slide-right {
  animation: 3s slide-right;
}

.slide-rightp {
  overflow: hidden;
  max-width: 500px;
}

.slide-rightp {
  animation: 3s slide-rightp;
}


@keyframes slide-right {
  from {
    margin-left: -300px;
  }

  to {
    margin-left: 13%;
  }
}

@keyframes slide-rightp {
  from {
    margin-left: -300px;
  }

  to {
    margin-left: 20%;
  }
}

html {
  background-color: rgba(0, 0, 0, 0.79);
}



.buttonabout {
  border: transparent;
  box-shadow: 10px, 10px;
   position: fixed;
  margin-top: 200px;
  margin-left: 45%;
  height: 50px;
  font-family: Roboto;
  font-size: 30px;
  cursor: pointer;
  border: none;
  background-color: black;
  color:white;
  border-radius: 50px;
  animation: mymove 10s alternate-reverse infinite;
}

@keyframes mymove {
  from {background-color: rgb(255, 255, 255); color:black;}
  to {background-color: rgba(0, 0, 0, 0.224); color: rgb(255, 255, 255);}
}

@keyframes borderr {
  from {border-radius:0px;}
  to {border-radius:100px;}
}

.buttonabout:hover {
  animation: borderr 2s alternate-reverse infinite;
}



