h1 {
    font-family: Roboto;

}

.style-fonts {
    font-family: Roboto, Monospace;
}



.button1{
    
    padding-right: auto;
    padding-left: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: orange;
    border-radius: 20px;
    font-family: Roboto;
    text-align: center;
    font-size: 50;
    display: inline-block;
    margin-left: 430px;

  text-decoration: none;
  cursor: pointer;
  border: none;
}
