@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
/*Slide Animation for about me div*/
.slide-right {
  
  overflow: hidden;
  max-width: 500px;
  float: left;
}

.slide-right {
  animation: 3s slide-right;
  animation-delay: 1s;
}

.slide-rightp {
  overflow: hidden;
  max-width: 500px;
}

.slide-rightp {
  animation: 3s slide-rightp;
  animation-delay: 1s;
}


@keyframes slide-right {
  from {
    margin-left: -300px;
  }

  to {
    margin-left: 10%;
  }
}

@keyframes slide-rightp {
  from {
    margin-left: -300px;
  }

  to {
    margin-left: 20%;
  }
}

html {
  background-color: rgb(0, 0, 0);
}